body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 200px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	color: red;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media only screen and (max-width: 992px) {
	.parallax img {
		max-height: 130%; /* or a little bit higher */
	}
}

@media only screen and (min-width: 993px) {
	.parallax img {
		max-height: 200%; /* or higher percentages. It's up to your taste */
	}
}

/* Contact card header */
.card-header {
	padding: 5px 10px 15px 15px;
	color: white;
}

.button {
	margin: auto;
	width: 100px;
	text-align: center;
}

.home-button {
	margin: auto;
	width: 300px;
	height: 60px;
	text-align: center;
}

.tab-list {
	border-bottom: 1px solid #ccc;
	padding-left: 0;
}

.tab-list-item {
	background-color: white;
	display: inline-block;
	list-style: none;
	margin-bottom: -1px;
	padding: 0.5rem 0.75rem;
}

.tab-list-active {
	background-color: white;
	border: solid #ccc;
	border-width: 3px 3px 0 3px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
}

#inner1 {
	float: left;
}

#inner2 {
	float: left;
	clear: left;
}

.tabs .tab a {
	color: black;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
	background-color: #f4e4ff;
	outline: none;
}
.tabs .tab a:hover,
tabs .tab a:active,
.tabs .tab a.active {
	background-color: transparent;
	color: #990000;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
	color: rgba(102, 147, 153, 0.7);
}
.tabs .indicator {
	background-color: #990000;
}

#marketclose {
	color: crimson;
}

#marketopen {
	color: green;
}
